# Iteration 3:
Use loop statement to append previous 5 days index history to each daily records for Down Jones, NASDAQ, RUSSEL 2000 and S&P 500 from Yahoo Finance into CSV files

1) for i from 1 to 5
2) metrics: Date,Open,High,Low,Close, Adj Close and	Volume

# 1)ScrapingYahoo Finance data

Reference:

https://stackoverflow.com/questions/44225771/scraping-historical-data-from-yahoo-finance-with-python

# 1. Create Yahoo Finance History Data Scraping Macro

In [7]:
import re
from io import StringIO
from datetime import datetime, timedelta

import requests
import pandas as pd

#https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI

class YahooFinanceHistory:
    timeout = 2
    crumb_link = 'https://finance.yahoo.com/quote/{0}/history?p={0}'
    crumble_regex = r'CrumbStore":{"crumb":"(.*?)"}'
    quote_link = 'https://query1.finance.yahoo.com/v7/finance/download/{quote}?period1={dfrom}&period2={dto}&interval=1d&events=history&crumb={crumb}'

    def __init__(self, symbol, days_back=7):
        self.symbol = symbol
        self.session = requests.Session()
        self.dt = timedelta(days=days_back)

    def get_crumb(self):
        response = self.session.get(self.crumb_link.format(self.symbol), timeout=self.timeout)
        response.raise_for_status()
        match = re.search(self.crumble_regex, response.text)
        if not match:
            raise ValueError('Could not get crumb from Yahoo Finance')
        else:
            self.crumb = match.group(1)

    def get_quote(self):
        if not hasattr(self, 'crumb') or len(self.session.cookies) == 0:
            self.get_crumb()
        now = datetime.utcnow()
        dateto = int(now.timestamp())
        datefrom = int((now - self.dt).timestamp())
        url = self.quote_link.format(quote=self.symbol, dfrom=datefrom, dto=dateto, crumb=self.crumb)
        response = self.session.get(url)
        response.raise_for_status()
        return pd.read_csv(StringIO(response.text), parse_dates=['Date'])

NASDAQ = YahooFinanceHistory('NDAQ', days_back=3560).get_quote()
SNP = YahooFinanceHistory('^GSPC', days_back=3560).get_quote()
RUSSEL= YahooFinanceHistory('^RUT', days_back=3560).get_quote()
DOWJONES = YahooFinanceHistory('^DJI', days_back=3560).get_quote()

# set index field at dataframe

NASDAQ.set_index('Date', inplace=True)
SNP.set_index('Date', inplace=True)
RUSSEL.set_index('Date', inplace=True)
DOWJONES.set_index('Date', inplace=True)

### MISTAKE: ALWAYS BECAUSE OF CASESENSIVE

NASDAQ.index

# rename the column at dataframe

SNP=SNP.rename(columns={'Adj Close':'Adj_Close'})
NASDAQ=NASDAQ.rename(columns={'Adj Close':'Adj_Close'})
RUSSEL=RUSSEL.rename(columns={'Adj Close':'Adj_Close'})
DOWJONES=DOWJONES.rename(columns={'Adj Close':'Adj_Close'})

In [49]:
SNP.head()

,Open,High,Low,Close,Adj_Close,Volume
Date,,,,,,
2009-02-26,765.760010,779.419983,751.750000,752.830017,752.830017,7599970000
2009-02-27,749.929993,751.270020,734.520020,735.090027,735.090027,8926480000
2009-03-02,729.570007,729.570007,699.700012,700.820007,700.820007,7868290000
2009-03-03,704.440002,711.669983,692.299988,696.330017,696.330017,7583230000
2009-03-04,698.599976,724.119995,698.599976,712.869995,712.869995,7673620000

# 2. Append 5 day history by using loop function-S&P Index

In [8]:
SNP = YahooFinanceHistory('^GSPC', days_back=3560).get_quote()
SNP.set_index('Date', inplace=True)
SNP=SNP.rename(columns={'Adj Close':'Adj_Close'})


def def_wdw_2(START,END,MATRIC,ST_INDEX):
    wdw=range(START,END)
    for i in wdw:
        ST_INDEX['DAY_MS_'+ str(i)+'_'+MATRIC]=ST_INDEX[MATRIC].shift(i)
        

def_wdw_2(1,6,'Open',SNP)
def_wdw_2(1,6,'High',SNP)
def_wdw_2(1,6,'Low',SNP)
def_wdw_2(1,6,'Close',SNP)
def_wdw_2(1,6,'Adj_Close',SNP)
def_wdw_2(1,6,'Volume',SNP)

In [9]:
SNP.head()
SNP.to_csv(r"C:\Users\rz08\Desktop\Sammie\Learn\Practise\Stocks\Data\Iterations\Iteration3\SNP.csv")

# Append 5 day history by using loop function- NASDAQ Index

In [24]:
NASDAQ= YahooFinanceHistory('NDAQ', days_back=3560).get_quote()
NASDAQ.set_index('Date', inplace=True)
NASDAQ=NASDAQ.rename(columns={'Adj Close':'Adj_Close'})

def def_wdw_2(START,END,MATRIC,ST_INDEX):
    wdw=range(START,END)
    for i in wdw:
        ST_INDEX['DAY_MS_'+ str(i)+'_'+MATRIC]=ST_INDEX[MATRIC].shift(i)
        

def_wdw_2(1,6,'Open',NASDAQ)
def_wdw_2(1,6,'High',NASDAQ)
def_wdw_2(1,6,'Low',NASDAQ)
def_wdw_2(1,6,'Close',NASDAQ)
def_wdw_2(1,6,'Adj_Close',NASDAQ)
def_wdw_2(1,6,'Volume',NASDAQ)

In [25]:
NASDAQ.head()
NASDAQ.to_csv(r"C:\Users\rz08\Desktop\Sammie\Learn\Practise\Stocks\Data\Iterations\Iteration3\NASDAQ.csv")

# Append 5 day history by using loop function-RUSSEL Index

In [ ]:
RUSSEL= YahooFinanceHistory('^RUT', days_back=3560).get_quote()
RUSSEL.set_index('Date', inplace=True)
RUSSEL=RUSSEL.rename(columns={'Adj Close':'Adj_Close'})

def def_wdw_2(START,END,MATRIC,ST_INDEX):
    wdw=range(START,END)
    for i in wdw:
        ST_INDEX['DAY_MS_'+ str(i)+'_'+MATRIC]=ST_INDEX[MATRIC].shift(i)
        

def_wdw_2(1,6,'Open',RUSSEL)
def_wdw_2(1,6,'High',RUSSEL)
def_wdw_2(1,6,'Low',RUSSEL)
def_wdw_2(1,6,'Close',RUSSEL)
def_wdw_2(1,6,'Adj_Close',RUSSEL)
def_wdw_2(1,6,'Volume',RUSSEL)

RUSSEL.head()
RUSSEL.to_csv(r"C:\Users\rz08\Desktop\Sammie\Learn\Practise\Stocks\Data\Iterations\Iteration3\RUSSEL.csv")

In [27]:
RUSSEL.head()

,Open,High,Low,Close,Adj_Close,Volume,DAY_MS_1_Open,DAY_MS_2_Open,DAY_MS_3_Open,DAY_MS_4_Open,...,DAY_MS_1_Adj_Close,DAY_MS_2_Adj_Close,DAY_MS_3_Adj_Close,DAY_MS_4_Adj_Close,DAY_MS_5_Adj_Close,DAY_MS_1_Volume,DAY_MS_2_Volume,DAY_MS_3_Volume,DAY_MS_4_Volume,DAY_MS_5_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2009-03-02,389.010010,389.010010,367.799988,367.799988,367.799988,78682900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-03-03,370.480011,372.579987,360.619995,361.010010,361.010010,75832300,389.010010,NaN,NaN,NaN,...,367.799988,NaN,NaN,NaN,NaN,78682900.0,NaN,NaN,NaN,NaN
2009-03-04,364.390015,375.500000,362.769989,371.299988,371.299988,76736200,370.480011,389.010010,NaN,NaN,...,361.010010,367.799988,NaN,NaN,NaN,75832300.0,78682900.0,NaN,NaN,NaN
2009-03-05,367.420013,367.420013,349.440002,349.450012,349.450012,75072500,364.390015,370.480011,389.010010,NaN,...,371.299988,361.010010,367.799988,NaN,NaN,76736200.0,75832300.0,78682900.0,NaN,NaN
2009-03-06,351.890015,356.869995,343.149994,351.049988,351.049988,73318300,367.420013,364.390015,370.480011,389.01001,...,349.450012,371.299988,361.010010,367.799988,NaN,75072500.0,76736200.0,75832300.0,78682900.0,NaN

## Append 5 day history by using loop function-DOWJONES Index

In [28]:
DOWJONES= YahooFinanceHistory('^DJI', days_back=3560).get_quote()
DOWJONES.set_index('Date', inplace=True)
DOWJONES=DOWJONES.rename(columns={'Adj Close':'Adj_Close'})

def def_wdw_2(START,END,MATRIC,ST_INDEX):
    wdw=range(START,END)
    for i in wdw:
        ST_INDEX['DAY_MS_'+ str(i)+'_'+MATRIC]=ST_INDEX[MATRIC].shift(i)
        

def_wdw_2(1,6,'Open',DOWJONES)
def_wdw_2(1,6,'High',DOWJONES)
def_wdw_2(1,6,'Low',DOWJONES)
def_wdw_2(1,6,'Close',DOWJONES)
def_wdw_2(1,6,'Adj_Close',DOWJONES)
def_wdw_2(1,6,'Volume',DOWJONES)

DOWJONES.head()
DOWJONES.to_csv(r"C:\Users\rz08\Desktop\Sammie\Learn\Practise\Stocks\Data\Iterations\Iteration3\DOWJONES.csv")

In [29]:
DOWJONES.head()

,Open,High,Low,Close,Adj_Close,Volume,DAY_MS_1_Open,DAY_MS_2_Open,DAY_MS_3_Open,DAY_MS_4_Open,...,DAY_MS_1_Adj_Close,DAY_MS_2_Adj_Close,DAY_MS_3_Adj_Close,DAY_MS_4_Adj_Close,DAY_MS_5_Adj_Close,DAY_MS_1_Volume,DAY_MS_2_Volume,DAY_MS_3_Volume,DAY_MS_4_Volume,DAY_MS_5_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2009-03-02,7056.479980,7058.950195,6755.169922,6763.290039,6763.290039,568670000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-03-03,6764.810059,6855.290039,6705.629883,6726.020020,6726.020020,445280000,7056.479980,NaN,NaN,NaN,...,6763.290039,NaN,NaN,NaN,NaN,568670000.0,NaN,NaN,NaN,NaN
2009-03-04,6726.500000,6979.220215,6726.419922,6875.839844,6875.839844,464830000,6764.810059,7056.479980,NaN,NaN,...,6726.020020,6763.290039,NaN,NaN,NaN,445280000.0,568670000.0,NaN,NaN,NaN
2009-03-05,6874.009766,6874.009766,6544.100098,6594.439941,6594.439941,509770000,6726.500000,6764.810059,7056.479980,NaN,...,6875.839844,6726.020020,6763.290039,NaN,NaN,464830000.0,445280000.0,568670000.0,NaN,NaN
2009-03-06,6595.160156,6755.169922,6469.950195,6626.939941,6626.939941,425170000,6874.009766,6726.500000,6764.810059,7056.47998,...,6594.439941,6875.839844,6726.020020,6763.290039,NaN,509770000.0,464830000.0,445280000.0,568670000.0,NaN